.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.elContainer {
    padding: 0px;
    margin: 0px;
}

.navLogo {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.navLinks {
    margin-top: 20px;
    margin-left: 20px;
}

.footerIcons {
    margin-top: 20px;
    margin-left: 20px;
}

.footerDiv {
    margin-top: 20px;
    margin-left: 20px;
}
.menuImg {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.menuName {
    font-size: 2.5vh;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
}

.menuContainer {
    text-align: center;
}
